<app-bog-main [bogotaObj]="weatherBogota"></app-bog-main>
<!-- <app-bog-main [bogotaObj]="theWeatherBogota"></app-bog-main>  -->
<!-- //MOCK-->

<div id="mainBottomGridCont">
  <div>
    <app-bog-forecast [nextBogForecasts]="nextTempsInBogota"></app-bog-forecast>
  </div>
  <app-place-to-visit></app-place-to-visit>   
  <div>

    <!-- <div *ngFor="let country of theWeathers">
      <app-new-small [countryObj]="country"></app-new-small>
      </div> -->
      <!-- MOCK -->

      <div *ngFor="let country of myCountriesArr">
        <app-new-small [countryObj]="country"></app-new-small>
        </div>
  </div>

</div>





